body {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
}



.bg-custom {
    background-color: #0c8491;
    color: white;
    font-size: 18px;
}

div, p {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

th {
    font-family: 'Roboto Medium', sans-serif;
    font-size: 14px;
    font-weight: 500;
}


h1 {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 35px;
    font-weight: 500;
}

h4 {
    font-size: 30px;
    font-weight: 400;
}

h5 {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

h6 {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.text-similar {
    color: #0f6375;
}