@media print {
    * {
        font-family: "Roboto Regular", sans-serif;
        font-weight: bold;
        font-size: 16px;
    }

    body {
        /* width: 100%;
        height: 100%; */
        color: #000;
    }

    @page {
        size: 16.51cm 24.13cm;
        size: landscape;
        page-break-inside: avoid;
        margin: 0;
    }

    .line-cover {
        border: 1px solid red;
    }

    .margin-left-right {
        margin-left: 0.3cm;
        margin-right: 0.3cm;
    }

    .left-margin {
        margin-left: 1.5cm;
    }

    /** TOP **/
    .top-margin {
        margin-top: 1.1cm;
    }
    .top-left-title {
        width: 6.8cm;
    }
    .top-middle-title {
        width: 3cm;
    }
    .top-right-title {
        width: 10cm;
    }

    /** BOX ROW 0 **/
    .box-margin-top {
        margin-top: 0.12cm;
    }
    .box-row-0 {
        height: 0.7cm;
    }
    .row-0-width-0 {
        width: 6.5cm;
    }
    .row-0-width-1 {
        width: 3.5cm;
    }
    .row-0-width-2 {
        width: 4cm;
    }
    .row-0-width-3 {
        width: 3cm;
    }
    .row-0-width-4 {
        width: 1cm;
    }

    /** ISI KIRIMAN */
    .box-row-1 {
        height: 0.2cm;
    }
    .box-row-1-value {
        height: 0.3cm;
        margin-bottom: 0.1cm;
    }
    .row-1-width-0 {
        width: 21cm;
    }

    .align-center-text {
        text-align: center;
    }

    /** ASAL, TUJUAN, TRANSFER */
    .box-row-2 {
        height: 0.7cm;
    }
    .row-2-width-0 {
        width: 2.5cm;
    }
    .row-2-width-1 {
        width: 3cm;
    }
    .row-2-width-2 {
        width: 2.2cm;
    }
    .row-2-width-3 {
        width: 1.7cm;
    }
    .row-2-width-3 {
        width: 11.6cm;
    }

    /** STATUS KEAMANAN */
    .box-row-3 {
        height: 0.6cm;
    }
    .row-3-width-0 {
        width: 5.5cm;
    }
    .row-3.width-1 {
        width: 15.5cm;
    }

    .box-row-4 {
        height: 1.4cm;
    }
    .row-4-width-0 {
        width: 1.1cm;
        margin-left: 0.2cm;
    }
    .row-4-width-1 {
        width: 4.4cm;
    }
    .row-4-width-2 {
        width: 3.9cm;
    }
    .row-4-width-3 {
        width: 5.2cm;
    }
    .row-4-width-4 {
        width: 5.4cm;
    }

    /** METODE PEMERIKSAAN */
    .box-row-5-a {
        height: 0.8cm;
    }

    .box-row-5-b {
        height: 0.4cm;
    }

    .row-5-width-0 {
        width: 21cm;
    }

    /** SECURITY SCREENING */
    .box-row-6 {
        height: 0.6cm;
    }
    .row-6-width-0 {
        width: 9.9cm;
    }
    .row-6-width-1 {
        width: 11.1cm;
    }

    .row-6-width-2 {
        width: 5.5cm;
    }
    .row-6-width-3 {
        width: 4.4cm;
    }
    .row-6-width-4 {
        width: 2.5cm;
    }
    .row-6-width-5 {
        width: 4cm;
    }
    .row-6-width-6 {
        width: 5.1cm;
    }

    /** NAMA, LOGO ATAU NOMOR (RA/KC/AO) PENERIMA **/
    .box-row-7 {
        height: 1.2cm;
    }
    .row-7-width-0 {
        width: 16cm;
    }

    .row-7-width-1 {
        width: 5cm;
    }

    /** QUANTITY, ACTUAL WEIGHT, VOL. WEIGHT, REMARKS **/
    .box-row-8 {
        height: 0.4cm;
    }
    .box-row-8-value {
        height: 0.6cm;
        margin-top: 1.3cm;
    }

    .row-8-width-0 {
        width: 21cm;
    }
    .row-8-width-1 {
        width: 5.5cm;
    }
    .row-8-width-2 {
        width: 3.9cm;
    }
    .row-8-width-3 {
        width: 5.2cm;
    }
    .row-8-width-4 {
        width: 6.4cm;
    }

    /** INFORMASI KEAMANAN DLL */
    .box-row-9 {
        height: 0.6cm;
    }
    .row-9-width-0 {
        width: 8.2cm;
    }
    .row-9-width-1 {
        width: 12.8cm;
    }
}
