@media print {
  * {
    font-family: 'Roboto Regular', sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  body {
    color: #000;
  }

  @page {
    /* size: 16.51cm 24.13cm; */
    size: 21cm 29.7cm;
    size: portrait;
    page-break-inside: avoid;
    margin: 0;
  }

  .cover {
    margin-top: 4.5cm;
    margin-bottom: 0cm;
    margin-left: 0.3cm;
    margin-right: 0.5cm;
  }

  .do_number {
    height: 1cm;
  }

  /* Police Number */
  .police-number-cover {
    margin-top: 0.5cm;
  }

  .police-number-0 {
    width: 5.1cm;
    height: 0.8cm;
  }

  .police-number-1 {
    height: 0.8cm;
  }

  /* Seal Number & No. Stiker */
  .seal-stiker-cover {
    margin-top: 0.3cm;
  }

  .seal-number-0 {
    width: 5.1cm;
    height: 0.8cm;
  }

  .seal-number-1 {
    width: 5cm;
    height: 0.8cm;
  }

  .stiker-no-0 {
    width: 3cm;
    height: 0.8cm;
  }

  .stiker-no-1 {
    width: 0.5cm;
    height: 0.8cm;
  }

  .stiker-no-2 {
    height: 0.8cm;
  }

  /* Table Transaction */
  .transaction-list {
    margin-top: 1cm;
  }

  .transaction-body {
    height: 11cm;
  }

  .trx-row-no {
    width: 1.4cm;
    text-align: center;
  }

  .trx-row-airwaybill {
    width: 5.9cm;
  }

  .trx-row-quantity {
    width: 2.4cm;
    text-align: center;
  }

  .trx-row-weight {
    width: 2.8cm;
    text-align: center;
  }

  .trx-row-goods {
    width: 5.6cm;
  }

  .trx-row-remarks {
    width: 3.4cm;
  }

  /* Table Footer Total */
  .trx-footer-row-0 {
    width: 1.4cm;
    margin-left: 0.3cm;
    height: 0.8cm;
  }

  .trx-footer-row-1 {
    width: 5.9cm;
    height: 0.8cm;
  }

  .trx-footer-row-2 {
    width: 2.4cm;
    height: 0.8cm;
    text-align: center;
  }

  .trx-footer-row-3 {
    width: 2.8cm;
    height: 0.8cm;
    text-align: center;
  }

  .trx-footer-row-4 {
    width: 5.5cm;
    height: 0.8cm;
  }

  .trx-footer-row-5 {
    width: 3.4cm;
    height: 0.8cm;
  }

  /* Date Send */
  .send-date-cover {
    margin-top: 0.7cm;
  }

  .send-date-row-0 {
    width: 2cm;
    height: 0.8cm;
  }

  .send-date-row-1 {
    width: 4cm;
    height: 0.8cm;
  }

  /* Supervisor & Driver */
  .supervisor-driver-cover {
    margin-top: 2.5cm;
    margin-left: 0.5cm;
  }

  .supervisor-row {
    width: 4cm;
    margin-right: 1.6cm;
  }

  .driver-row {
    width: 3.7cm;
    margin-right: 1.6cm;
  }
}
