@media print {
  * {
    font-family: 'Roboto Regular', sans-serif;
    font-weight: bold;
    font-size: 16px;
  }

  body {
    color: #000;
  }

  @page {
    /* size: 16.51cm 24.13cm; */
    size: 21cm 29.7cm;
    size: landscape;
    page-break-inside: avoid;
    margin: 0;
  }

  .cover {
    margin-top: 1cm;
    margin-bottom: 0cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
  }

  /* No. Invoice */
  .no-invoice-row-0 {
    width: 14.8cm;
    height: 0.8cm;
  }

  .no-invoice-row-1 {
    height: 0.8cm;
  }

  /* Shipper Name */
  .shipper-name-row-0 {
    margin-top: 0.3cm;
    width: 14cm;
    height: 0.8cm;
  }
  .shipper-name-row-1 {
    height: 0.8cm;
  }

  /* Company Address */
  .company-address-row-0 {
    margin-top: 0.1cm;
    width: 8.2cm;
  }
  .company-address-row-1 {
    width: 13.5cm;
    line-height: 1.15em;
  }

  /* List Inventories */
  .inventories-cover {
    margin-top: 1cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    border: 1px solid green;
    height: 6.7cm;
  }

  .inventories-row-0 {
    width: 1.5cm;
    text-align: center;
    border: 1px solid red;
  }

  .inventories-row-1 {
    /* width: 6.5cm; */
    width: 6.9cm;
    border: 1px solid red;
  }

  .inventories-row-2 {
    /* width: 3.7cm; */
    width: 3.9cm;
    border: 1px solid red;
  }

  .inventories-row-3 {
    /* width: 4.5cm; */
    width: 4.9cm;
    border: 1px solid red;
  }

  .inventories-row-4 {
    /* width: 3.7cm; */
    width: 4.9cm;
    border: 1px solid red;
  }

  /* Terbilang dan Subtotal */
  .sub-footer-cover {
    margin-top: 0.2cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    border: 1px solid blue;
  }

  .sub-footer-row-0 {
    width: 14.5cm;
  }

  .sub-footer-row-1 {
    padding: 0;
  }

  /* Subtotal Child */
  .sub-child-row-0 {
    width: 2.8cm;
    height: 0.5cm;
    border: 1px solid gray;
  }

  .sub-child-row-1 {
    width: 4.9cm;
    height: 0.5cm;
    border: 1px solid gray;
  }

  /* Date Transaction */
  .trx-date-cover {
    margin-top: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
  }

  .trx-date-row-0 {
    width: 17.3cm;
    border: 1px solid red;
  }
  .trx-date-row-1 {
    width: 5cm;
    border: 1px solid red;
  }

  /* Tanda Tangan User */
  .user-cover {
    margin-top: 2cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
  }

  .user-row-0 {
    width: 17.3cm;
    border: 1px solid red;
  }
  .user-row-1 {
    width: 5cm;
    text-align: center;
    border: 1px solid red;
  }
}
